	
@media only screen and (max-width: 1111px) {
    p {
		font-size: 20px;
	}
	
	h1 {
		text-align: center;
	    color:#FFFFFF;
        font: 40px/1 'Baloo Bhai';
	    font-size: 50px;
	}
	
	h3 {
	    font-size: 30px;
	}
	    
	
	table tr > *{
        display: block;
    }
    table tr {
        display: table-cell;
    }
	
	#copyr {
		width: 100%;
	}
	
	#divboi2 { 
		display: inline-flex;
		a
		width: 100%;
	}
	
	img {
		width: 100%;
	}
	
			h2 {
		text-align: center;
	    color:#FFFFFF;
        font: 40px/1 'Baloo Bhai';
	    font-size: 80px;
	}
	
	#thisone {
		padding-bottom: 20px;
	}
	#thistwo {
		padding-bottom: 20px;
	}
}
	
@media only screen and (min-width: 1111px) {
	.t {
		font-si: ;
	}
	
	.t:hover {
		
	}
	
	img {
		width: 70%;
	}
	
	#copyr {
		text-align: right;
		width: 80%;
	}
	
    p {
		font-size: 25px;
	}
	
	h1 {
		text-align: center;
	    color:#FFFFFF;
        font: 40px/1 'Baloo Bhai';
	    font-size: 60px;
	}
	
	h3 {
	    font-size: 45px;
	}
	
	#divboi2 { 
		display: flex; 
		padding-left: 10%;
	}
	
	img {
  max-width: 100%;
  height: auto;
}
	
		h2 {
		text-align: center;
	    color:#FFFFFF;
        font: 40px/1 'Baloo Bhai';
	    font-size: 100px;
	}
}
	
	body {
	  padding:0;
	  margin:0;
    }
	
	html { 
		  background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url('imgs/fishy images.png');
		  -webkit-background-size: auto;
		  -moz-background-size: auto;
		  -o-background-size: auto;
		  background-size: auto;
		  background-position: center;
	}
	
	header {
	  padding: 5px, 5px, 5px, 5px;
	  text-align: center;
	  color:#FFFFFF;
      font: 40px/1 'Baloo Bhai';
	  font-size: 50px;
   }
	
   footer {
	  background: rgba(0,0,0,0.68);
	  padding: 10px;
	  text-align: center;
	  color: white;
	  font: 100px 'Baloo Bhai';
  }
	
	section:after {
  content: "";
  display: table;
  clear: both;
}
	
	#segement {
		margin: auto;
		margin-top: 30px;
		margin-bottom: 30px;
		width: 80%;
		padding-top: 1px;
		padding-bottom: 1px;
		padding-left: 30px;
		padding-right: 30px;
		align-items: center;
		text-align: center;
		background: rgba(0,0,0,0.68);
	    color:#FFFFFF;
        font: 40px/1 'Baloo Bhai';
	    font-size: 30px;
	}
	
	#divider {
		margin: 0 auto;
        text-align: left;
		background: rgba(0,0,0,0.84);
		width: 90%;
		height: 5px;
	}

	
	table.f {
		margin: auto;
		margin-bottom: 30px;
		width: 70%;
		padding-top: 4px;
		padding-bottom: 3px;
		align-items: center;
		text-align: center;
        font: 40px/1 'Baloo Bhai';
	    font-size: 20px;
  table-layout: fixed;
  width: 100%;  
  text-shadow:-1px 1px 20px #000000;
  margin: 1% auto 1%;
}

	table.d {
		margin: auto;
		margin-bottom: 30px;
		width: 70%;
		padding-top: 40px;
		padding-bottom: 30px;
		align-items: center;
		text-align: center;
        font: 40px/1 'Baloo Bhai';
	    font-size: 50px;
  table-layout: fixed;
  width: 100%;  
  text-shadow:-1px 1px 20px #000000;
  margin: 1% auto 1%;
}
	
	#tex {
   text-decoration:none;
   color:#BDAE60;
}
#texf {
   text-decoration:none;
   color:#FFFFFF;
}
	
	#divboi { 
		display: flex;
		width: 100%;
	}

	#part {
		margin: auto;
		margin-bottom: 30px;
		width: 70%;
		padding-top: 40px;
		padding-bottom: 30px;
		padding-left: 50px;
		padding-right: 50px;
		align-items: center;
		text-align: center;
		background: rgba(0,0,0,0.68);
	    color:#FFFFFF;
        font: 40px/1 'Baloo Bhai';
	    font-size: 30px;
	}

    #frame {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    }

	#sketchfab {
		    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
	}
	
#texf {
   text-decoration:none;
   color:#FFFFFF;
}
	
