.text{
	font-family: 'Baloo Bhai';
	color: #f7f7f7;
	text-align: center;
}

.link{ color:#BDAE60 !important; }

.link:hover { color: #574F24 !important; }

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.header-col{
	text-align: center;
	padding: 10px;
}
			
.header-item{
	text-align: center;
	font-family: 'Baloo Bhai';
	font-size: 3rem;
	color:#BDAE60 !important;
	padding: 0px, 20px, 0px, 20px !important;
}

.footer-item{
	text-align: center;
	font-size: 2rem;
	font-family: 'Baloo Bhai';
	color:#BDAE60 !important;
}

.socialIcon{ height: 80px; }

.model{ margin: 0rem 3.5rem 2rem 3.5rem; }

.header-item:hover { color: #574F24 !important; }
		
.top {
	background: -webkit-linear-gradient(rgba(0,0,0,0.80), rgba(0,0,0,0.70), rgba(0,0,0,0.00));
	background:    -moz-linear-gradient(rgba(0,0,0,0.80), rgba(0,0,0,0.70), rgba(0,0,0,0.00));
	background:         linear-gradient(rgba(0,0,0,0.80), rgba(0,0,0,0.70), rgba(0,0,0,0.00));
}

.bottom{
	background: -webkit-linear-gradient(rgba(0,0,0,0.00), rgba(0,0,0,0.70), rgba(0,0,0,0.80));
	background:    -moz-linear-gradient(rgba(0,0,0,0.00), rgba(0,0,0,0.70), rgba(0,0,0,0.80));
	background:         linear-gradient(rgba(0,0,0,0.00), rgba(0,0,0,0.70), rgba(0,0,0,0.80));
}

button.navbar-toggler {
    outline: 0px !important;
    border: 0px !important;
}

.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
  align-items: center;
  text-align: center;
}
 
.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
    padding: 2vw;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

body {
	background: linear-gradient(rgba(0,0,0,.65), rgba(0,0,0,.65)), url('https://i.imgur.com/OLrUCCd.png') no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    font: 3rem 'Baloo Bhai';
	color: #f7f7f7;
}

h2 {
	font: 3.7rem 'Baloo Bhai';
	color: #f7f7f7;
    display: grid;
    grid-template-columns: minmax(20px, 1fr) auto minmax(20px, 1fr);
    align-items: center;
    text-align: center;
    grid-gap: 20px;
    width: 100%;
}

h2:before,
h2:after {
    content: '';
    border-top: 2px solid white;
}

.subtitle{
	margin: 0rem 12rem 0rem 12rem;
}

p, .link {
    font: 1.5rem 'Baloo Bhai';
	color: #f7f7f7;
	line-height: 19pt;
}

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}

.footer-button:hover { filter: brightness(70%) !important; }

.Title{
    font: 5vw/1 'Baloo Bhai';
	color: #f7f7f7;
    text-align: center;
    border-radius: 20px;
	margin: 40px;
    padding: 20px;
    background-color: rgba(0,0,0,0.63);
}

.section {
    border-radius: 20px;
    align-items: center;
    text-align: center;
    padding: 29px 44px 29px 44px;
	margin: 4rem 17rem 4rem 17rem;
	color: #f7f7f7;
    background-color: rgba(0,0,0,0.63);
}

.titleSide {
    background-color: #f7f7f7;
    border-radius: 40px;
    width: 100%;
}

@media (max-width: 1700px) {
    .section {
		padding: 15px;
		margin: 3rem 6rem 3rem 6rem;
    }
	
	.footer-item{ font-size: 1.4rem; }
	.header-item{ font-size: 2rem; }
	
	.subtitle{ margin: 0rem 5rem 0rem 5rem; }
	
	.socialIcon{ height: 70px; }
	.model{ margin: 0rem 3rem 1.4rem 3rem; }
	
	h1 { font: 2.5rem 'Baloo Bhai'; }
	
	h2 { font: 3.2rem 'Baloo Bhai'; }

	p, .link { font: 1.3rem 'Baloo Bhai'; line-height: 18pt; }
}

@media (max-width: 768px) {
    .section {
		padding: 10px;
		margin: 2rem 2rem 2rem 2rem;
    }
	
	.subtitle{ margin: 0rem 2.3rem 0rem 2.3rem; }
	
	.footer-item{ font-size: 1.4rem; }
	
	.socialIcon{ height: 48px; }
	.model{ margin: 0rem 2rem 1.2rem 2rem; }
	
	h1 { font: 2rem 'Baloo Bhai'; }
	h2 { font: 2.35rem 'Baloo Bhai'; }

	p, .link { font: 1rem 'Baloo Bhai'; line-height: 15pt; }
}
@media (max-width: 401px){
	.footer-item{
		padding: 5px;
		font-size: 1rem;
	}
	
	.model{ margin: 0rem 1.2rem 1rem 1.2rem; }
	.socialIcon{ height: 23px; }
	
	h1 { font: 1rem 'Baloo Bhai'; }
	h2 { font: 1.3rem 'Baloo Bhai'; }

	p, .link { font: 0.5rem 'Baloo Bhai'; line-height: 10pt; }
}