<nav class="navbar navbar-light navbar-expand-md bg-light justify-content-center">
    <a href="/" class="navbar-brand mr-0">Hot Beans</a> 
    <button class="navbar-toggler ml-1" type="button" data-toggle="collapse" data-target="#collapsingNavbar2">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse align-items-center" id="collapsingNavbar2">
        <ul class="navbar-nav mx-auto text-center nav-fill w-100">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home<span class="sr-only">Home</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../index.html">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Our Team</a> 
            </li>
			<li class="nav-item">
                <a class="nav-link" href="../jobs.html">Jobs</a> 
            </li>
			<li class="nav-item">
                <a class="nav-link" href="#">Links</a> 
            </li>
        </ul>
        <ul class="nav navbar-nav justify-content-center">
			<li class="container justify-content-center">
				<div class="row">
					<div class="col py-1 px-1">
						<img src="Images/Icons/facebook.png" alt="Facebook" width="30" height="30" class="img-fluid rounded-circle">
					</div>
					<div class="col py-1 px-1">
						<img src="Images/Icons/twitter.png" alt="Twitter" width="30" height="30" class="img-fluid rounded-circle">
					</div>
				</div>
				<div class="row">
					<div class="col py-1 px-1">
						<img src="Images/Icons/youtube.png" alt="Youtube" width="30" height="30" class="img-fluid rounded-circle">
					</div>
					<div class="col py-1 px-1">
						<img src="Images/Icons/linkedin.png" alt="LinkedIn" width="30" height="30" class="img-fluid rounded-circle">
					</div>
				</div>
			</li>
        </ul>
    </div>
</nav>
<div class="header-bar w-100 h-auto">
	<div class="row w-100">
		<div class="col-7 my-auto px-3 py-3 text-right">Current Job Avaliable: Web Developer</div>
		<div class="col-5 my-auto px-3 py-3 d-flex justify-content-start"><a class="btn px-2 px-sm-4 px-md-5">Apply Now</a></div>
	</div>
</div>
