body{
	font-family: 'Montserrat', sans-serif;
}

.btn {
	background-color: #4E94B5 !important;
}

.nav-link{
	color: black !important;
	font-size: 1.4rem;
}

.col a, .col-auto a{
  display: block;
  padding: 20px;
  background-color: tomato;
  border: 1px solid green;
  color: #FFF;
  font-size: 26px;
}

.header-bar{
	background-color: #97B9BF;
	text-align: center;
	height: 80px;
	font-size: 1.6rem;
}


.TitleImage{
	background-repeat: no-repeat;
  	background-attachment: fixed;
	background-size: cover;
}

.TitleGradient{
	background-image: linear-gradient(to right, rgba(0,0,0,0.93) 0%, rgba(0,0,0,0.70) 20%, rgba(0,0,0,0.00) 40%);
}

.divider{
	height: 5px;
	width: 100%;
}