<nav class="navbar navbar-light navbar-expand-md bg-light justify-content-center">
    <a href="/" class="navbar-brand mr-0">Hot Beans</a> 
    <button class="navbar-toggler ml-1" type="button" data-toggle="collapse" data-target="#collapsingNavbar2">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse align-items-center p-0" id="collapsingNavbar2">
        <ul class="navbar-nav mx-auto my-0 text-center nav-fill w-100">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home<span class="sr-only">Home</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="about.html">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="ourteam.html">Our Team</a> 
            </li>
			<li class="nav-item">
                <a class="nav-link" href="jobs.html">Jobs</a> 
            </li>
			<li class="nav-item">
                <a class="nav-link" href="links.html">Links</a> 
            </li>
        </ul>
        <ul class="nav navbar-nav justify-content-center">
			<li class="container justify-content-center">
				<div class="row">
					<a class="col py-0 px-1 btn" style="background-color: rgba(0,0,0,0.00) !important" href="https://www.facebook.com/">
						<img src="Images/Icons/facebook.png" alt="Facebook" width="30" height="30" class="img-fluid rounded-circle">
					</a>
					<a class="col py-0 px-1 btn" style="background-color: rgba(0,0,0,0.00) !important" href="https://www.twitter.com/">
						<img src="Images/Icons/twitter.png" alt="Twitter" width="30" height="30" class="img-fluid rounded-circle">
					</a>
				</div>
				<div class="row">
					<a class="col pt-1 px-1 btn" style="background-color: rgba(0,0,0,0.00) !important" href="https://www.youtube.com/">
						<img src="Images/Icons/youtube.png" alt="Youtube" width="30" height="30" class="img-fluid rounded-circle">
					</a>
					<a class="col pt-1 px-1 btn" style="background-color: rgba(0,0,0,0.00) !important" href="https://www.linkedin.com/">
						<img src="Images/Icons/linkedin.png" alt="LinkedIn" width="30" height="30" class="img-fluid rounded-circle">
					</a>
				</div>
			</li>
        </ul>
    </div>
</nav>
<div class="header-bar h-auto w-100">
	<div class="row w-100 justify-content-center">
		<div class="col-auto my-auto px-3 py-3">Become a Web Developer at Hot Beans</div>
		<div class="col-auto my-auto px-3 py-3"><a class="btn px-2 px-sm-4 px-md-5" href="jobs.html">Apply Now</a></div>
	</div>
</div>
