body{
	font-family: 'Montserrat', sans-serif;
}

h1 { font-size: 1.6rem; }
h3 { font-size: 1.1rem; }
h5 { font-size: 0.8rem; }
p { font-size: 0.7rem; }


.btn {
	background-color: #4E94B5 !important;
	font-size: 0.8rem !important;
}

.nav-link{
	color: black !important;
	font-size: 1.3rem;
}



.header-bar{
	background-image: url("../Images/StockImages/beans.png");
	background-repeat: repeat;
	background-size: cover;
	text-align: center;
	height: 80px;
	font-size: 0.9rem;
}

.footer{
	font-size: 0.8rem;
}

.TitleImage{
    background-size: cover;
    background-repeat: no-repeat;
	/*background-attachment: fixed;*/
}

.TitleGradient{
	background-image: linear-gradient(to right, rgba(0,0,0,0.93) 0%, rgba(0,0,0,0.70) 40%, rgba(0,0,0,0.00) 60%);
}

.divider{
	height: 4px;
	width: 100%;
}

.SVGshadow {
    filter: drop-shadow( 0 0px 4px rgba(0,0,0,0.60));
}

@media (min-width: 576px) {
	h1 { font-size: 1.8rem; }
	h3 { font-size: 1.3rem; }
	h5 { font-size: 1.0rem; }
	p { font-size: 1rem; }
	.header-bar{ font-size: 1rem; }
	.btn { font-size: 0.9rem !important; }
	.TitleGradient{
		background-image: linear-gradient(to right, rgba(0,0,0,0.93) 0%, rgba(0,0,0,0.70) 30%, rgba(0,0,0,0.00) 50%);
		box-shadow: inset 0 0 20px rgba(0,0,0,0.7);
	}
}

@media (min-width: 768px) {
	.header-bar{ font-size: 1.2rem; }
	.btn { font-size: 1.1rem !important; }
	.TitleGradient{
		background-image: linear-gradient(to right, rgba(0,0,0,0.93) 0%, rgba(0,0,0,0.70) 20%, rgba(0,0,0,0.00) 40%);
	}
}

@media (min-width: 992px) {
	.header-bar{ font-size: 1.5rem; }
	.btn { font-size: 1.4rem !important; }
}

@media (min-width: 1200px) {
	
}